<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main id="main-page">
      <h1>HOME</h1>
      <nav id="main-nav" class="sidebar">
        <a href="/" onclick="route(event, '/')">Home</a>
        <a href="/test/" onclick="route(event, '/test/')">test</a>
        <a href="/test2/" onclick="route(event, '/test2/')">test2</a>
      </nav>
    </main>
    <script src="/static/js//router.js" type="module"></script>
  </body>
</html>
